body, html {
    background-color: lightgray;
    font-family: Arial;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
}

header {
    background-color: black;
    padding: .1em;
    color: lightgray;
    text-align: center;
    clear: left;
    font: bold 24pt Arial;
}

header img {
    width: 300px;
    height: 150px;
}

footer {
    position: absolute;
    color: black;
    text-align: center;
    font-size: 11pt;
    height: 30px;
    width: 100%;
    bottom: 0;
    clear: left;
    padding-top: .1em;
}

nav {
    position: fixed;
    float: left;
    max-width: 200px;
    padding: 1em;
    margin: 0;
    min-height: 100%;
    border-right: 1px solid gray;
}

nav h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0
}

nav ul a button{
    width: 150px;
    padding: 10px;
    margin: 5px;
}

article {
    padding: .5em;
    margin-left: 200px;
}

iframe {
    position: absolute;
    width: calc(100vw - 230px);
    height: calc(100vh - 230px);
    display: block;
    overflow: hidden;
    border: none;
}
