main {
    font: 14px "Trebuchet MS";
}

table td{
    padding-left: .5em;
    padding-right: .5em;
}

select {
    padding: 5px;
    width: 100px;
}

input {
    padding: 5px;
    width: 100px;
}

input[type="submit"] { 
    float: right;
    margin-top: 1em;
}

fieldset {
    border: 1px solid gray;
    border-radius: 4px;
}

fieldset legend{
    font: 16px Arial;
}

iframe {
    margin-top: 1em;
    position: absolute;
    width: calc(100vw - 18px);
    height: calc(100vh - 218px);
    display: block;
    overflow: hidden;
    border: none;
}
