body html {
    background-color: lightgray;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
}

hr {
    border-style: solid;
    padding: 0px;
}

main {
    font: 14px "Trebuchet MS";
}

main h1{
    font-family: Arial;
    text-align: center;
}

section h2{
    font-family: Arial;
}